  <%= turbo_stream_from "rooms" %>
  
<div class="bg-gray-800 pt-3">
  <div class="rounded-tl-3xl bg-gradient-to-r from-gray-900 to-gray-800 p-4 shadow text-white">
    <div class="flex items-center justify-between">
      <h2 class="font-bold pl-2 text-2xl"><%= @page_title %></h2>
       <div class="mt-4 flex justify-center">
        <%= link_to 'New Room', new_admin_dashboard_hotel_room_path(hotel_id: @hotel.id), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded", data: { turbo_frame: dom_id(Room.new) } %>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto mt-1">
  <div class="flex justify-center">
    <div class="w-full">
      <div class="table-container">
        <table class="w-full border-collapse">
          <thead>
            <tr class="bg-gray-900 text-gray-400">
              <th class="py-2 px-4 border">Name</th>
              <th class="py-2 px-4 border">Room Type</th>
              <th class="py-2 px-4 border">Beds</th>
              <th class="py-2 px-4 border">Price</th>
              <th class="py-2 px-4 border">Description</th>
              <th class="py-2 px-4 border" colspan="2">Actions</th>
            </tr>
          </thead>
          <tbody>
           
          <%= turbo_frame_tag 'rooms' do %>
          
              <%= render @rooms %>
            <% end %>
             
          </tbody>
        </table>
      </div>
        <%= turbo_frame_tag Room.new %>
    </div>
  </div>
</div>
