<%= turbo_stream_from "reviews" %>
<% if @user.present? %>
  <div id="newsletterMessage" data-controller="newsletter">
    <div class="modal" data-newsletter-target="modal" style="display: none;">
      <div class="modal-content p-4 bg-white shadow-md rounded-lg">
        <span class="close absolute top-2 right-2 text-gray-600 cursor-pointer" data-action="newsletter#close">&times;</span>
        <h2 class="text-xl font-semibold mb-2">Subscribe to Our Newsletter</h2>
        <p class="text-gray-600 mb-4">Would you like to stay up to date with our latest offers and discounts?</p>
        <button class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 mr-2" data-action="click->newsletter#subscribe">Subscribe</button>
        <button class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600" data-action="click->newsletter#decline">No, Thanks</button>
      </div>
    </div>
  </div>
<% end %>
<div class="scroll-hotel relative w-full items-center justify-center overflow-x-hidden py-8 md:py-2 text-center">
<% if @hotel %>
  <h1 class="font-heading relative my-4 text-2xl font-bold leading-tight text-cyan-600 md:text-4xl xl:mb-8"><%= @hotel.name %></h1>
 
  <div class="container mx-auto flex max-w-6xl flex-col items-center justify-between rounded-lg px-4 lg:flex-row xl:px-0">
    <%= render  @hotels, reviews: @reviews %>
    <div class="review-container flex flex-col justify-between mx-4 w-96">
      <span  class= "mt-4" >
        <%= turbo_frame_tag "reviews" do %>
          <%= render  @reviews %>
        <% end %>
      </span>
      <%= turbo_frame_tag Review.new %>
      <span>
        <% if @user.present? %>
          <%= link_to new_hotel_review_path(@hotel), class: "bg-blue-500 text-white px-4 py-2 rounded-full hover:bg-blue-600 hover:text-white", data: { turbo_frame: dom_id(Review.new) } do %>
            <i class="fas fa-plus-circle mr-2"></i> Create a Review
          <% end %>
        <% end %>
          <% end %>
      </span>
    </div>
  </div>
</div>
