<%= turbo_frame_tag hotel do %>
<tr class="bg-gray-800 text-gray-400">
  <td class="py-2 px-4 border"><%= hotel.name %></td>
  <td class="py-2 px-4 border"><%= hotel.address %></td>
  <td class="py-2 px-4 border"><%= hotel.description %></td>
  <td class="py-2 px-4 border"><%= hotel.contact %></td>
  <td class="py-2 px-4 border">
    <%= link_to edit_admin_dashboard_hotel_path(hotel), class: "text-blue-500 hover:underline" do %>
     <i class="material-icons-outlined text-base">edit</i>
    <% end %>
    <%= button_to admin_dashboard_hotel_path(hotel), method: :delete, data: { confirm: 'Are you sure?' }, class: "text-red-500 hover:underline" do %>
      <i class="material-icons-outlined text-base">delete</i>
     <% end %>
  </td>
</tr>
<% end %>