<!DOCTYPE html>
<html>
  <head>
    <title>Admin Dashboard</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application', data: { "turbo-track": "reload" } %>
    <%= vite_javascript_tag 'application' %>
   
  </head>

  <body>

  <section class="bg-gray-800 font-sans leading-normal tracking-normal mt-12">

    <%= render AdminDahsboardHeaderComponent.new(user: current_user) %>
      <div class="flex flex-col md:flex-row">
        <%= render AdminDashboardNavbarComponent.new %>
      <div class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5">
   
      

    <main>
      <%= yield %>
    </main>
      
     </div>
     </div>
  </section>
    <script>
      function toggleDD(myDropMenu) {
          document.getElementById(myDropMenu).classList.toggle("invisible");
      }

      function filterDD(myDropMenu, myDropMenuSearch) {
          var input, filter, ul, li, a, i;
          input = document.getElementById(myDropMenuSearch);
          filter = input.value.toUpperCase();
          div = document.getElementById(myDropMenu);
          a = div.getElementsByTagName("a");
          for (i = 0; i < a.length; i++) {
              if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
                  a[i].style.display = "";
              } else {
                  a[i].style.display = "none";
              }
          }
      }
      window.onclick = function(event) {
          if (!event.target.matches('.drop-button') && !event.target.matches('.drop-search')) {
              var dropdowns = document.getElementsByClassName("dropdownlist");
              for (var i = 0; i < dropdowns.length; i++) {
                  var openDropdown = dropdowns[i];
                  if (!openDropdown.classList.contains('invisible')) {
                      openDropdown.classList.add('invisible');
                  }
              }
          }
      }
    </script>
    
  </body>
</html>
