<!DOCTYPE html>
<html>
  <head>
    <title>Hotel</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-081RNEE4JJ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-081RNEE4JJ');
    </script>
  </head>
  <body data-controller="push" data-application-server-key="<%= ENV['DEFAULT_APPLICATION_SERVER_KEY'] %>">
    <main class="h-screen w-full bg-white relative flex overflow-hidden">
      <div id="flash" class="fixed top-4rem right-1/2 transform translate-x-1/2 flex-col max-w-[100%] w-max gap-5rem px-0 py-4">
        <%= render "layouts/flash" %>
      </div>
      <%= render(SidebarComponent.new(user: current_user)) %>
      <section class="w-full h-full">
        <%= render(NavbarComponent.new(user: current_user)) %>
        <%= yield %>
        <% if cookies[:allow_cookies].blank? %>
          <%= render 'layouts/cookies_bar' %>
        <% end %>
        <%= render(FooterComponent.new) %>
      </section>
      <%= render 'shared/chatbot' %>
    </main>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.0/dist/alpine.min.js" defer></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
      data-client_id="<%= ENV["GOOGLE_OAUTH2_CLIENT_ID"] %>"
      data-login_uri="<%= google_onetap_callback_url %>"
      data-auto_prompt="<%= user_signed_in? ? "false" : "true" %>"
      data-authenticity_token="<%= form_authenticity_token %>"
      data-itp_support="true"
      data-auto_select="true"
     >
    </div>
  </body>
</html>
